<!DOCTYPE html>
<html class="theme-light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/accounts.css') }}">
</head>

<template id="statement_row">
    <tr>
        <td id="filename"></td>
        <td id="start"></td>
        <td id="end"></td>
        <td id="actions">
            <a class="button" id="download">
                <span class="icon has-text-info">
                    <i class="fas fa-download"></i>
                </span>
            </a>
            <a class="button" id="delete">
                <span class="icon has-text-danger">
                    <i class="fas fa-trash"></i>
                </span>
            </a>
        </td>
    </tr>
</template>

<template id="account_row">
    <div class="box">
        <article class="media">
            <figure class="media-left">
                <span class="icon is-large">
                    <i class="fas fa-coins"></i>
                </span>
            </figure>
            <div class="media-content">
                <div class="content">
                    <div class="title is-5"><span id="bank"></span></div>
                    <div><strong>Account Number:</strong> <span id="account_number"></span></div>
                    <div><strong>Name:</strong> <span id="name"></span></div>
                    <div><strong>Description:</strong> <span id="description"></span></div>
                    <div><span class="subtitle is-5">Statements</span>
                        <table class="table" id="statements">
                            <tr>
                                <th>Statement</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Actions</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</template>


<body>
    <div class="section">
        <div>
            <div class="buttons has-addons">
                <a class="button is-primary" href="/">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>
                        Home
                    </span>
                </a>
                <a class="button" href="">
                    <span class="icon">
                        <i class="fas fa-file-import"></i>
                    </span>
                    <span>
                        Import Statement
                    </span>
                </a>

                <a class="button" href="/api/statements">
                    <span class="icon">
                        <i class="fas fa-download"></i>
                    </span>
                    <span>
                        Download Statement Bundle
                    </span>
                </a>
                <a class="button is-danger" href="">
                    <span class="icon">
                        <i class="fas fa-file-zipper"></i>
                    </span>
                    <span>
                        Import Statement Bundle
                    </span>
                </a>
                <a class="button is-danger" href="/api/reset">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span>
                        Full Reset
                    </span>
                </a>
            </div>
            <form method="POST" action="/api/statements/" enctype="multipart/form-data">
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="file" />
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"> Choose a file… </span>
                        </span>
                        <span class="file-name"> Screen Shot 2017-07-29 at 15.54.25.png </span>
                    </label>
                </div>
                <input class="button" type="submit" value="Upload File" />
            </form>
        </div>
        <div id="wrapper"></div>
    </div>
    <script src="{{ url_for('static', filename='dist/accounts.js') }}"></script>
</body>

</html>